<<<<<<< HEAD
@font-face {
    font-family: 'Bender-Bold';
    src: url("src/Bender-Bold.otf");
}
@font-face {
    font-family: 'Bender';
    src: url("src/Bender.otf");
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url("src/Gotham-Bold.otf");
}
@font-face {
    font-family: 'Gotham';
    src: url("src/GothamMedium.ttf");
}

body {
	background: rgb(238,174,202);
	background: linear-gradient(354deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 68%);
	color: white;
	font: 100% Bender, Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	display: flex;
	flex-direction: row-reverse;
}
img{
  border-radius: 100%;
  border: white solid 2px;
}

.selection{
opacity: 0;
transition-duration: 1.5s;
top : 100px;
height: auto;
display: flex;
position: fixed;
flex-direction: column;
align-items: center;
}

.selection img{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}
a{
  top:90%;
  font-family: Gotham-Bold,Arial;
  color: black;
  background-color: #1ED760;
  border-radius: 30px;
  font-size: 21px;
  border: solid 2px black;
  transition: 2s;
  padding: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
}

.lecteur{
  background-color: #333;
  opacity: 0.85;
  width: 33%;
  float: right;
  text-align: center;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lecteur h1{
  text-decoration: underline;
}
#background-wrap {
  bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
}
.song{
	display: flex;
	flex-direction: column;
	align-items:center;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x11 {
    -webkit-animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 15%;
	top: 60%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x12 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 50%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.x13 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 15%;
	top: 80%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x14 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 45%;
	top: 30%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3 	);
}
.x15 {
    -webkit-animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 30%;
	top: 10%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x16 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 43%;
	top: 100%;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}
.x17 {
    -webkit-animation: animateBubble 33s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 33s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 33s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 8%;
	top: 100%;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}
.x18 {
    -webkit-animation: animateBubble 31s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 31s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 31s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 48%;
	top: 100%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.x19 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 39%;
	top: 89%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x19 {
    -webkit-animation: animateBubble 34s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 34s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 34s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 59%;
	top: 110%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x20 {
    -webkit-animation: animateBubble 34s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 34s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 34s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 14%;
	top: 120%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x21 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 28%;
	top: 86%;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}
/* OBJECTS */

.bubble,img {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}
@media screen and (max-width:1000px){
	.selection{
		flex-direction:row;
	}
	.lecteur{
	height:35%;
	width:100%;
	}
	.title{
		display:flex;
		flex-direction: column;

	}
	.selection img{
		height:100px;
		width:100px;
		margin-bottom:10px;
		margin-top:0px;
	}
	.selection a {
		z-index: -1;
		top: 0%;
		border-radius: 0px;
		font-size: 0px;
		padding: 0px;
		padding-bottom: 0px;
		padding-top: 0px;
		border: solid 0px black;
		text-decoration: none;
	}
	.song{
		display:flex;
		flex-direction: column-reverse;
		align-items:center;
	}
	audio{
		margin-bottom:10px;		
	}
}
@media screen and (max-width:500px){
	audio{
		width:150px;
	}
}
@media screen and (max-height:780px){
	.lecteur{
		height:45%;
	}
}
=======
@font-face {
    font-family: 'Bender-Bold';
    src: url("src/Bender-Bold.otf");
}
@font-face {
    font-family: 'Bender';
    src: url("src/Bender.otf");
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url("src/Gotham-Bold.otf");
}
@font-face {
    font-family: 'Gotham';
    src: url("src/GothamMedium.ttf");
}

body {
	background: rgb(238,174,202);
	background: linear-gradient(354deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 68%);
	color: white;
	font: 100% Bender, Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	display: flex;
	flex-direction: row-reverse;
}
img{
  border-radius: 100%;
  border: white solid 2px;
}

.selection{
opacity: 0;
transition-duration: 1.5s;
top : 100px;
height: auto;
display: flex;
position: fixed;
flex-direction: column;
align-items: center;
}

.selection img{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}
a{
  top:90%;
  font-family: Gotham-Bold,Arial;
  color: black;
  background-color: #1ED760;
  border-radius: 30px;
  font-size: 21px;
  border: solid 2px black;
  transition: 2s;
  padding: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
}

.lecteur{
  background-color: #333;
  opacity: 0.85;
  width: 33%;
  float: right;
  text-align: center;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lecteur h1{
  text-decoration: underline;
}
#background-wrap {
  bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x11 {
    -webkit-animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 16s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 15%;
	top: 60%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x12 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 50%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.x13 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 15%;
	top: 80%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x14 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 45%;
	top: 30%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3 	);
}
.x15 {
    -webkit-animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 23s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 30%;
	top: 10%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x16 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 43%;
	top: 100%;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}
.x17 {
    -webkit-animation: animateBubble 33s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 33s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 33s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 8%;
	top: 100%;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}
.x18 {
    -webkit-animation: animateBubble 31s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 31s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 31s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 48%;
	top: 100%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.x19 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 39%;
	top: 89%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x19 {
    -webkit-animation: animateBubble 34s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 34s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 34s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 59%;
	top: 110%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x20 {
    -webkit-animation: animateBubble 34s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 34s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 34s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 14%;
	top: 120%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x21 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 28%;
	top: 86%;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}
/* OBJECTS */

.bubble,img {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;
}

>>>>>>> 37afb0046ff042fa8fe698605e045f0c8a949190
